<div>
  <h1>hola que gusto {{name}} {{lastName}} verte</h1>

  {{#each products}}
    <div>
      <h3>Producto</h3>
      <p>{{this.title}}</p>
      <p>{{this.price}}</p>
    </div>
  {{/each}}

</div>