<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="/products">Ver productos</a>
                    <a href="products/new">Nuevo producto</a>
                    <a href="/carts">Ver Carts</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Bienvenido, {{user.first_name}}  {{user.last_name}}</h1>

    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>

    <a href="/session/logout">Logout</a>
</body>
</html>