<div>todo listo para trabajr con websocket</div>
<br />
<input type="text" id="messageInput" placeholder="escriba su mensaje" />
<button id="sendMessageButton">Enviar</button>
<div id="messageContainer"></div>

<div>
  <h1>Lista de todos los productos: </h1>
  <div id="productContainer">

  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>