<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Registrarce</h1>
    <form action="/session/register" method="post" >
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="Last name">
        <input type="number" name="age" placeholder="Age">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password"> 
        <input type="submit" value="Registrarce">
    </form>
</body>
</html>